.score{
  font-size: 30px;
}
.feelings .ui-btn .ui-btn-inner { padding-top: 40px !important; }
.feelings .ui-btn .ui-icon { width: 30px!important; height: 30px!important; margin-left: -15px !important; box-shadow: none!important; -moz-box-shadow: none!important; -webkit-box-shadow: none!important; -webkit-border-radius: none !important; border-radius: none !important; }
#hate .ui-icon { background:  url("/images/hate.png") top left no-repeat; background-size: 24px 22px; }
#love .ui-icon { background:  url("/images/love.png") top left no-repeat; background-size: 24px 22px; }
#mixed .ui-icon { background:  url("/images/mixed.png") top left no-repeat; background-size: 24px 22px; }
