<!DOCTYPE html> 
<html> 
  <head> 
    <title>Review Umpire</title> 
    <link rel="stylesheet" href="http://code.jquery.com/mobile/1.0a2/jquery.mobile-1.0a2.min.css" />
    <%= stylesheet_link_tag "mobile" %>

    <script src="http://code.jquery.com/jquery-1.4.4.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.0a2/jquery.mobile-1.0a2.min.js"></script>
    <%= javascript_include_tag "mobile" %>
  </head> 
  <body> 
    <div data-role="page">

      <div data-role="header" data-position="inline">
        <a href='#' class='ui-btn-left ui-btn-back' data-icon='arrow-l'>Back</a>
        <%= content_for :menu %>
      </div><!-- /header -->


      <div data-role="content">	
        <%= yield %>
      </div><!-- /content -->

    </div><!-- /page -->
  </body>
</html>

